
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}


#home_page_panel {
    display: flex;
    flex-direction: column;
}

    #home_page_panel .hi1 {
        padding: 1px 0 0 0;
        animation-name: a1;
        animation-duration: 2s;
        width: 94%;
        box-shadow: 0px 0px 5px 1px black;
    }


@keyframes a1 {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

#Login_Design {
    width: 100%;
    border-radius: 10px 10px 0 0;
}


#Authr {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

#AuthrR {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

#login_page_panel {
    margin: 100px auto;
    width: 20%;
    height: 500px;
    background-color: #c6c6c69e;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}

#Login_btn {
    height: 40px;
    width: 120px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #bcffc6, #cbcbcb);
    font-weight: bold;
}

    #Login_btn:hover {
        box-shadow: 0px 0px 5px 1px black;
    }

        #Login_btn:hover:active {
            background-image: none;
            background-color: #93ff95;
        }

#Username_in {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/p2.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Username_in:focus {
        outline: none;
        background-color: #bcffc6;
    }

#Username_R {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/p2.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Username_R:focus {
        outline: none;
        background-color: #bcffc6;
    }

#email_R {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/p2.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

#Username_R:focus {
    outline: none;
    background-color: #bcffc6;
}

#Password_in {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/pas.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Password_in:focus {
        outline: none;
        background-color: #bcffc6;
    }

#Password_R {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/pas.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Password_R:focus {
        outline: none;
        background-color: #bcffc6;
    }


.vertical_table {
    display: flex;
    flex-direction: column;
}

.horizontal_table {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.elements {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    margin: 5px;
    background-color: #fafafab1;
}

    .elements:hover {
        box-shadow: 0px 0px 5px 1px black;
    }

        .elements:hover:active {
            box-shadow: none;
        }

    .elements img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        padding: 10px 0 0 0;
    }

#PayFee_Panel {
    margin: 50px auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: #c6c6c69e;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}



#Pay_Nav_Panel {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

    #Pay_Nav_Panel button {
        box-shadow: none;
        border: none;
        padding: 0 50px 0 50px;
        margin: 10px;
        background-color: #c6c6c69e;
        text-align: center;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px black;
        font-weight: bold;
    }

        #Pay_Nav_Panel button:hover {
            background-color: #87ff79;
        }

            #Pay_Nav_Panel button:hover:active {
                background-color: #31ff42;
            }

#Pay_Display_Panel {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: #c6c6c69e;
}

#default_pay {
    height: 100%;
    width: 100%;
}

    #default_pay img {
        height: 30%;
        width: 20%;
    }

#course_reg_label label {
    font-size: 20px;
    margin: 13px;
}

#course_reg_value input {
    font-size: 20px;
    margin: 11px;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

#course_f_label label {
    font-size: 20px;
    margin: 5px;
}

#course_reg_form button {
    box-shadow: none;
    border: none;
    padding: 0px 50px 0 50px;
    margin: 100px;
    background-color: #c6c6c69e;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px black;
    font-weight: bold;
    width: 200px;
}

    #course_reg_form button:hover {
        background-color: #87ff79;
    }

        #course_reg_form button:hover:active {
            background-color: #31ff42;
        }

#payment button {
    box-shadow: none;
    border: none;
    padding: 0px 20px 0 20px;
    margin: 20px;
    background-color: #c6c6c69e;
    text-align: center;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px black;
    font-weight: bold;
    width: 250px;
}

    #payment button:hover {
        background-color: #87ff79;
    }

        #payment button:hover:active {
            background-color: #31ff42;
        }

#bk_payment input {
    font-size: 20px;
    margin: 11px;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

#bk_payment button {
    box-shadow: none;
    border: none;
    padding: 0px 50px 0 50px;
    margin: auto;
    background-color: #c6c6c69e;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px black;
    font-weight: bold;
    width: 200px;
}

    #bk_payment button:hover {
        background-color: #87ff79;
    }

        #bk_payment button:hover:active {
            background-color: #31ff42;
        }

#done_payment a {
    box-shadow: none;
    border: none;
    padding: 0px 50px 0 50px;
    margin: auto;
    background-color: #c6c6c69e;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px black;
    font-weight: bold;
    width: 200px;
    text-decoration: none;
    color: black;
}

    #done_payment a:hover {
        background-color: #87ff79;
    }

        #done_payment a:hover:active {
            background-color: #31ff42;
        }

#Hall_fee_form button {
    box-shadow: none;
    border: none;
    padding: 0px 50px 0 50px;
    margin: 50px;
    background-color: #c6c6c69e;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px black;
    font-weight: bold;
    width: 200px;
}

    #Hall_fee_form button:hover {
        background-color: #87ff79;
    }

        #Hall_fee_form button:hover:active {
            background-color: #31ff42;
        }

#needlogin_panel {
    margin: 50px auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: #c6c6c69e;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}

    #needlogin_panel button {
        box-shadow: none;
        border: none;
        padding: 0px 50px 0 50px;
        margin: auto;
        background-color: #c6c6c69e;
        text-align: center;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px black;
        font-weight: bold;
        width: 200px;
    }

        #needlogin_panel button:hover {
            background-color: #87ff79;
        }

            #needlogin_panel button:hover:active {
                background-color: #31ff42;
            }

#Result_panel {
    margin: 50px auto;
    padding: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    min-height: 700px;
    background-color: #c6c6c6e2;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}

.facilities {
    margin: auto;
    width: 94%;
    display: flex;
    flex-direction: row;
    min-height: 700px;
    background-color: #c6c6c6e2;
    text-align: center;
    border-radius: 2px;
}

.common_panel {
    margin: auto;
    width: 94%;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    background-color: #c6c6c6e2;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
}

.common_panele {
    margin: 170px auto;
    width: 12%;
    display: flex;
    flex-direction: column;
    background-color: #c6c6c6e2;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

    .common_panele:hover {
        margin: 150px auto;
        width: 15%;
        color: black;
    }
    .common_panele:hover:active {
        margin: 170px auto;
        width: 12%;
        color: black;
    }

.research {
    margin: auto;
    width: 94%;
    display: flex;
    flex-direction: column;
    background-color: #c6c6c6e2;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
    background-color: black
}

#mnv_bg {
    height: 700px;
    background-image: url("../Images/b.png");
    background-size: 100%;
}

.syllabus {
    border-collapse: collapse;
    margin: 20px auto;
    width: 98%;
}

    .syllabus td, .syllabus th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .syllabus tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .syllabus th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
