@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}


#home_page_panel {
    display: flex;
    flex-direction: column;
}

#home_page_panel .hi1 {
    padding: 1px 0 0 0;
    animation-name: a1;
    animation-duration: 2s;
    width: 94%;
    box-shadow: 0px 0px 5px 1px black;
}


@keyframes a1 {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

#Login_Design {
    width: 100%;
    border-radius:10px 10px 0 0;
}


#Authr {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

#AuthrR {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

#login_page_panel {
    margin: 100px auto;
    width: 20%;
    height: 500px;
    background-color: #c6c6c69e;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 10px;
}

#Login_btn {
    height: 40px;
    width: 100px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #bcffc6, #cbcbcb);
}

#Login_btn:hover {
    box-shadow: 0px 0px 5px 1px black;
}

#Login_btn:hover:active {
    background-image: none;
    background-color: #93ff95;
}

#Username_in {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/p2.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Username_in:focus {
        outline: none;
        background-color: #bcffc6;
    }

#Username_R {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/p2.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Username_R:focus {
        outline: none;
        background-color: #bcffc6;
    }

#email_R {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/p2.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Username_R:focus {
        outline: none;
        background-color: #bcffc6;
    }

#Password_in {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/pas.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Password_in:focus {
        outline: none;
        background-color: #bcffc6;
    }

#Password_R {
    background-color: #cbcbcb;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding: 5px 40px;
    background-image: url('/Images/pas.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

    #Password_R:focus {
        outline: none;
        background-color: #bcffc6;
    }


    .vertical_table {
        display: flex;
        flex-direction: column;
    }

    .horizontal_table {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
.elements {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    margin: 5px;
    background-color: #fafafab1;
}
    .elements:hover {
        box-shadow: 0px 0px 5px 1px black;
    }
    .elements:hover:active {
        box-shadow: none;
    }
    .elements img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        padding: 10px 0 0 0;
    }
