@page "/AcademicP"
<div class="common_panel" style="background-image: url('/Images/ac.jpg'); background-size: cover; background-repeat: no-repeat">
    <a href="/1stYear.pdf" class="common_panele" >
        <p style="font-size: 36px; font-weight: bold; margin: auto;">1st</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
    <a href="/2ndYear.pdf" class="common_panele">
         <p style="font-size: 36px; font-weight: bold; margin: auto">2nd</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
    <a href="/3rdYear.pdf" class="common_panele">
         <p style="font-size: 36px; font-weight: bold; margin: auto">3rd</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
    <a href="/4thYear.pdf" class="common_panele">
         <p style="font-size: 36px; font-weight: bold; margin: auto">4th</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
</div>
@code {

}
