@page "/AcademicP"
<div class="common_panel">
    <a href="" class="common_panele" >
        <p style="font-size: 36px; font-weight: bold; margin: auto;">1st</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
    <a href="" class="common_panele">
         <p style="font-size: 36px; font-weight: bold; margin: auto">2nd</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
    <a href="" class="common_panele">
         <p style="font-size: 36px; font-weight: bold; margin: auto">3rd</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
    <a href="" class="common_panele">
         <p style="font-size: 36px; font-weight: bold; margin: auto">4th</p>
         <label style="font-size: 36px; font-weight: bold; margin: auto">Year</label>
    </a>
</div>
@code {

}
