@page "/AcademicC"
<div class="common_panel" style="background-image: url('/Images/acc.jpg'); background-size: cover; background-repeat: no-repeat; flex-direction: column">
    <div class="common_panel" style="box-shadow: none;border-radius: 0px; min-height: 0px;">
        <a href="/cse11.pdf" class="common_panela" >
            <p style="font-size: 36px; font-weight: bold; margin: auto;">1.1</p>
        </a>
        <a href="/cse21.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto">2.1</p>
        </a>
        <a href="/cse31.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto">3.1</p>
        </a>
        <a href="/cse41.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto">4.1</p>
        </a>
    </div>
    <div class="common_panel" style="box-shadow: none;border-radius: 0px; min-height: 0px;">
        <a href="/cse12.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto;">1.2</p>
        </a>
        <a href="/cse12.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto">2.2</p>
        </a>
        <a href="/cse12.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto">3.2</p>
        </a>
        <a href="/cse12.pdf" class="common_panela">
            <p style="font-size: 36px; font-weight: bold; margin: auto">4.2</p>
        </a>
    </div>
</div>
@code {

}
