@page "/Facilities"

<div style="display: flex; flex-direction: column">
    <div class="facilities">
        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Computer Language</p>
                &
                <p>Computing Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;">Computer Language & Computing Laboratory provides computing facility to the students. This Laboratory consists of a Windows 2012 Server and thirty client machines which are configured in both windows and Linux operating systems. These machines have high speed Intel processors. All clients are connected to Internet facility. Software like Java (JDK), JSP, Visual Basic, Visual C++, CodeBlocks, Prolog, PHP, ASP and RDBMS like Oracle and SQL Server are installed in this Laboratory.</p>
        </div>
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/computerLanguagenComputingLab.jpg" style="height: 100%; width: 100%;" />
        </div>
    </div>
    <div class="facilities">
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/softwareWebEngineeringLaboratory.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Software and Web</p>
                <p>Engineering Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;" ;>The purpose of Software and Web Engineering Laboratory is to develop students knowledge about software engineering which involves computer-assisted method to organize and control the development of software, especially on large, complex projects. For this purpose this laboratory consists of a Windows 2012 Server and thirty clients which are connected by Local Area Networks and Internet facility. The clients are Dell brand machines model Optiplex-380 having Intel Core 2 duo Processors. Software installed in this Laboratory areJava (JDK), JSP, Visual Basic, Visual C++, CodeBlocks, Prolog, PHP, ASP and RDBMS like Oracle and SQL Server.</p>
        </div>
    </div>
    <div class="facilities">
        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Digital Systems</p>
                &
                <p>VLSI Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;" ;>The purpose of Digital Systems & VLSI Laboratory is to design and implement digital circuits and to gain adequate knowledge about digital systems. This Laboratory is equipped with a variety of modern tools which helps the students to experiment different digital systems.The main equipments of this Laboratory includes Scope Multimeter (DMM-740), Digital Experimental Trainer Kit ( LT-1000), Portable Digital IC Tester, Portable Linear IC Tester, Digital Signal Processing Controller (MDA-DSP), Power Supply Unit Experimental System (AT-700), Oscilloscope (AL210), Logic Probe (LP-2800), Analog Multimeter (ST-505), Digital Logic Circuit Trainer (K&H-OLS-2000), Portable EPROM Eraser, Logic Pulsar, Function Generator, Digital Function Generator, Digital LCR Meter, Portable EPROM Programmer, Digital Storage Oscilloscope, Digital Multimeter, Frequency Counter, Digital Earth Tester, EPROM Programmable. Besides, there are a huge number of ICs, Diodes, Capacitors, Resistor, to implement different digital circuits.</p>
        </div>
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/disitalSystemVlsiLaboratory.jpg" style="height: 100%; width: 100%;" />
        </div>
    </div>
    <div class="facilities">
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/intelligenceSystemLaboratory.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Intelligence Systems Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;" ;>Intelligence Systems Laboratory is established to experiment and study different intelligent systems. This involves Computational Intelligence, Fuzzy Logic, Evolutionary and Neural Network etc. For this purpose this Laboratory consists of some equipment which helps to promote students’ interest in intelligent systems and also enhance their knowledge in this very rapidly growing area of Computer Engineering. This Laboratory consists of a Mini-Robot (X-Y-Z Robotics model RB-4/EV) and a PLC Control Lab (PLC-5B/EV). This Laboratory has a Server and twenty workstations connected by Local Area Network. Some Artificial Intelligence (AI) based software like Prolog and C++ IDEs are installed on each computer to implement AI related projects and assignments.</p>
        </div>
    </div>
    <div class="facilities">
        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Computer Hardware</p>
                &
                <p>Interfacing Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;" ;>Computer Hardware & Interfacing Laboratory is equipped with different latest tools to accomplish various hardware related design, testing and interfacing peripherals with microprocessors/ microcomputers. This laboratory has a rich collection of such devices for that purpose. The main equipments of this laboratory includes Microprocessor Trainer Kit 8088 (MTS-88C K&H), Microprocessor Trainer Kit 8086 (MDA-8086), Basic Computer Interface Control (C10-100),Scope Multimeter (DMM-740), Stepper Motor (MDA-012), AD/DA Experimental Board, Multi I/O Lab Card, Power Supply Unit Experimental System (AT-700), Oscilloscope, Analog Multimeter (ST-505), Digital Multimeter, Electronic Sensors Trainer, Portable EPROM Eraser, Function Generator, Digital Function Generator, Portable EPROM Programmer, Digital Portable Oscilloscope, DCA/ACA Clamp Meter (ST 3600), AC/DC Labtype Voltmeter (MSMB-3), Digital Earth Tester (4105), Fiber Optic Power Meter (EFO-1102), Scope Card (Model 2100) , Data Acquisition Card etc. This laboratory also has a Server and twenty workstations connected by Local Area Network.</p>
        </div>
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/computerHardwareInterfacingLaboratory.jpg" style="height: 100%; width: 100%;" />
        </div>
    </div>
    <div class="facilities">
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/networkingMultimediaLaboratory.jpg" style="height: 100%; width: 100%;" />
        </div>
        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Networking</p>
                &
                <p>Multimedia Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;" ;>Networking & Multimedia Laboratory is one of the most resourceful Laboratories of this department. This Laboratory consists of two COMPAQ Proliant ML550 Servers and Intranet Backbone Fiber Optic switch Model 3 COM Superstack 4900 by which the whole university is connected together. There are a number of CISCO equipments in this laboratory. These equipments enable advanced networking facility to this laboratory. It includes CISCO 10/100 Ethernet Routers (model 2600), CISCO Dual 10/100 Ethernet Routers, CISCO Catalyst Switches, Transceivers etc. Besides, the laboratory has a good number of tools like RJ45 Crimp Tools, Punch Down Tools, Wire Strippers, Side Cutters, LAN Cable Testers etc. and some networking software which helps student to gain knowledge and to develop advance networking based projects.</p>
        </div>
    </div>
    <div class="facilities">

        <div style="height: 100%; width: 50%; margin: auto; padding: 100px;">
            <div style="font-size: 36px; font-weight: bold">
                <p>Mobile Computing Laboratory</p>
            </div>
            <br />
            <br />
            <p style="font-size: 16px;" ;>The Mobile Computing Lab studies design principles and evaluation methodologies for understanding and building systems support mechanisms for mobile computing systems including mobile ad hoc and sensor networks for achieving the goal of anytime, anywhere computing in wireless mobile environments. The primary research focuses of the Mobile Computing Lab are in mobility management, data and service management, security and dependability aspects in mobile computing environments.</p>
        </div>
        <div style="margin: auto; height: 100%; width: 50%">
            <img src="/Images/MobileComputingLaboratory.jpg" style="height: 100%; width: 100%;" />
        </div>
    </div>

</div>

@code {

}
