@page "/"

<PageTitle>Kuet Cse</PageTitle>
<div id="home_page_panel">
    <p align="center">
        <img class="hi1" src=/Images/9.png />
    </p>
     <p align="center">
        <img class="hi1" src=/Images/Untitled-12.png />
    </p>
</div>
