@page "/"

<PageTitle>Kuet Cse</PageTitle>
<div id="home_page_panel">
    <div style="display: flex; flex-direction: row;">
        <img class="hi1" src=/Images/9.jpg />
        <img class="hi2" src=/Images/1.png />
    </div>
</div>
