@page "/Login"
<PageTitle>Login</PageTitle>
<div id="login_page_panel">
    <div id="Login_Design">
        <h1>Login</h1>
    </div>
    <div id="Authr">
        <input id="Username_in" placeholder="type your username" type="text" /><br />
       <input id="Password_in" placeholder="type your password" type="text" /><br />
        <button id="Login_btn">Login</button><br />
        <button id="Reg_btn">Create New Account</button>
    </div>
</div>
@code {

}