@page "/MNV"

<div class="research">
    <img style="width: 100%;" src="/Images/tuvsud-vision-mission.png" />
    <div id="mnv_bg" style="display:flex; flex-direction: column; margin: auto; width: 100%;background-repeat: no-repeat, repeat; margin-bottom: 30px;">
        <div style="display:flex; flex-direction: row">
            <div style="width:30%; height: 90%; margin: auto;background-color: #c6c6c6a7;text-align: center;box-shadow: 0px 0px 5px 1px black;border-radius: 10px; padding: 10px">
                <br />
                <p style="font-size: 36px; font-weight: bold">Vision of the Department</p>
                <br />
                <p style="font-size: 20px;">"To become a Center of Excellence in the field of Computer Science and Engineering with a strong research and teaching environment that adapts swiftly to the challenges of the computer technology evolution"</p>
                <p style="font-size: 20px;">To harness human capital for sustainable competitive edge and social relevance by inculcating the philosophy of life-long learning and innovation in "Computer Science and Engineering.</p>
            </div>
            <div style="width:30%; height: 90%; margin: auto;background-color: #c6c6c6a7;text-align: center;box-shadow: 0px 0px 5px 1px black;border-radius: 10px; padding: 10px">
                <br />
                <p style="font-size: 36px; font-weight: bold">Mission of the Department</p>
                <br />
                <p style="font-size: 20px;">To provide qualitative education and generate new knowledge by engaging in cutting-edge research, and by offering state-of-the-art undergraduate and postgraduate programs, leading to careers as "Computer Science and Engineering" professionals in the widely diversified domains of industry, government and academia.</p>
                <p style="font-size: 20px;">To promote a teaching and learning process that yields advancements in state-of-the-art in computer science and engineering, and technology, resulting in integration of research results and innovations into other engineering faculty leading to new technologies and products.</p>
            </div>
        </div>
        <div style="width:90%; height: 90%; margin: auto;background-color: #c6c6c6a7;text-align: center;box-shadow: 0px 0px 5px 1px black;border-radius: 10px; padding: 10px">
            <p style="font-size: 36px; font-weight: bold">Program Educational Objectives of the Department</p>
            <p style="font-weight: bold">To bring the physical, analytical and computational approaches of CSE to bear on the challenges they take on, abstracting essential structure, recognizing sources of uncertainty, and applying appropriate models, technical tools, and evaluations to develop their solutions.</p>
            <p style="font-weight: bold">To bring to their careers the self-assurance, integrity, and technical strengths that drive innovation, and the communication and collaboration skills to inspire and guide the groups they work with in bringing their ideas to fruition.</p>
        </div>
    </div>
</div>
@code {

    }
