@page "/staff_members"

<div style="width: 94%; background-color: #c6c6c69e; margin: 5px auto; box-shadow: 0px 0px 5px 1px black; user-select: none;">
    <div class="vertical_table">
        <div style="height: 50px; width: 100%; text-align:center;"><h2>Officers &Aacute; Staffs</h2></div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/CSE_Mizanur_Rahman.jpg" /></p>
                <h5 style="text-align: center;">Muhammad Mizanur Rahman</h5>
                <h6 style="text-align: center;">Assistant System Engineer</h6>
                <p align="center">
                    Email: mizanprince71@kuet.ac.bd
                    <br>Contact: 01911207196
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/CSE_Abu_Salah_Musa.jpg" /></p>
                <h5 style="text-align: center;">Md. Abu Salah Musa</h5>
                <h6 style="text-align: center;">Section Officer (Grade-1)</h6>
                <p align="center">
                    Email: musa@kuet.ac.bd
                    <br>Contact: 01672800677
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/CSE_Ripon_Shaikh.jpg" /></p>
                <h5 style="text-align: center;">Ripon Shaikh</h5>
                <h6 style="text-align: center;">Section Officer (Grade-2)</h6>
                <p align="center">
                    Email: ripon@kuet.ac.bd
                    <br>Contact: 01521241221
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/CSE_Md_Rokonuzzaman.jpg" /></p>
                <h5 style="text-align: center;">Md. Rokonuzzaman</h5>
                <h6 style="text-align: center;">Assistant Technical Officer</h6>
                <p align="center">
                    Email: rokon@kuet.ac.bd
                    <br>Contact: 01714087486
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/CSE_Khandakar_Saiful_Isalm.jpg" /></p>
                <h5 style="text-align: center;">Khandakar Saiful Isalm</h5>
                <h6 style="text-align: center;">Assistant Technical Officer</h6>
                <p align="center">
                    Email: saiful.cse@kuet.ac.bd
                    <br>Contact: 01792081282
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/CSE_F_M_SAHABUDDIN.png" /></p>
                <h5 style="text-align: center;">F. M.Sahabuddin</h5>
                <h6 style="text-align: center;">Assistant Technical Officer</h6>
                <p align="center">
                    Email: fmsahabuddin@kuet.ac.bd
                    <br>Contact: 01711454147
                </p>
            </div>
        </div></div></div>

@code {

}
