@page "/faculty_members"

<div style="width: 94%; background-color: #c6c6c69e; margin: 5px auto; box-shadow: 0px 0px 5px 1px black; user-select: none;">
    <div class="vertical_table">
        <div style="height: 50px; width: 100%; text-align:center;"><h2>Faculty Members</h2></div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Hashem Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. M.M.A. Hashem</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">Email: hashem@cse.kuet.ac.bd, mma.hashem@gmail.com, mma.hashem@outlook.com
                    <br>Contact: +88-02477733351~69, Ext- 351
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Azharul Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. K. M. Azharul Hasan</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">Email: az@cse.kuet.ac.bd, azhasan@gmail.com
                    <br>Contact: +880-41-769471 Ext. 355
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Rokibul Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Kazi Md. Rokibul Alam</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">Email: rokib@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-365
                </p>
            </div>
             <div class="elements">
                <p align="center"><img draggable="false" src="Images/Sadi Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Muhammad Sheikh Sadi</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">Email: sadi@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-353
                </p>
            </div>
             <div class="elements">
                <p align="center"><img draggable="false" src="Images/Akhand Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Muhammad Aminul Haque Akhand</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">Email: akhand@cse.kuet.ac.bd, akhandkuet@yahoo.com
                    <br>Contact: +88-02477733351~69, <br> Ext-363
                </p>
            </div>
             <div class="elements">
                <p align="center"><img draggable="false" src="Images/Pintu Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Pintu Chandra Shill</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">Email: pintu@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-363
                </p>
            </div>
        </div>
        <div class="horizontal_table">
            <div class="elements">

            </div>
            <div class="elements">

            </div>
            <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
        </div>
         <div class="horizontal_table">
            <div class="elements">

            </div>
            <div class="elements">

            </div>
            <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
        </div>
         <div class="horizontal_table">
            <div class="elements">

            </div>
            <div class="elements">

            </div>
            <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
        </div>
         <div class="horizontal_table">
            <div class="elements">

            </div>
            <div class="elements">

            </div>
            <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
             <div class="elements">

            </div>
        </div>
    </div>
</div>

@code {

}
