@page "/faculty_members"

<div style="width: 94%; background-color: #c6c6c69e; margin: 5px auto; box-shadow: 0px 0px 5px 1px black; user-select: none;">
    <div class="vertical_table">
        <div style="height: 50px; width: 100%; text-align:center;"><h2>Faculty Members</h2></div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Hashem Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. M.M.A. Hashem</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: hashem@cse.kuet.ac.bd, mma.hashem@gmail.com, mma.hashem@outlook.com
                    <br>Contact: +88-02477733351~69, Ext- 351
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Azharul Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. K. M. Azharul Hasan</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: az@cse.kuet.ac.bd, azhasan@gmail.com
                    <br>Contact: +880-41-769471 Ext. 355
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Rokibul Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Kazi Md. Rokibul Alam</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: rokib@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-365
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Sadi Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Muhammad Sheikh Sadi</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: sadi@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-353
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Akhand Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Muhammad Aminul Haque Akhand</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: akhand@cse.kuet.ac.bd, akhandkuet@yahoo.com
                    <br>Contact: +88-02477733351~69, <br> Ext-363
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Pintu Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Pintu Chandra Shill</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: pintu@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-363
                </p>
            </div>
        </div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Masud Sir.jpg" /></p>
                <h5 style="text-align: center;">Dr. Sk. Md. Masudul Ahsan</h5>
                <h6 style="text-align: center;">Professor</h6>
                <p align="center">
                    Email: smahsan@cse.kuet.ac.bd, masudul.ahsan@gmail.com
                    <br>Contact: +88-02477733351~69, <br> Ext-8369,8370
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Salim Sird.jpg" /></p>
                <h5 style="text-align: center;">Md. Abdus Salim Mollah</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: salim9326@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69,<br> Ext-357
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Kowsar Sir.jpg" /></p>
                <h5 style="text-align: center;">Md. Kowsar Hossain</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: khossain@cse.kuet.ac.bd
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Rocky Sir.jpg" /></p>
                <h5 style="text-align: center;">Al-Mahmud</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: mahmud@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69,<br> Ext-367
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Misti Mam.jpg" /></p>
                <h5 style="text-align: center;">Mehenuma Tabassum Omar</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: tabassum@cse.kuet.ac.bd , misty2409@gmail.com
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Safuddin Sir.jpg" /></p>
                <h5 style="text-align: center;">Saifuddin Mahmud</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: smahmud@cse.kuet.ac.bd, smahmud07@yahoo.com
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
        </div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Imran Sir.jpg" /></p>
                <h5 style="text-align: center;">Sheikh Imran Hossain</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: imran@cse.kuet.ac.bd, imranhrana@gmail.com
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Jakaria Sir.jpg" /></p>
                <h5 style="text-align: center;">Jakaria Rabbi</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: jakaria_rabbi@cse.kuet.ac.bd

                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/awal sir.jpg" /></p>
                <h5 style="text-align: center;">Md. Abdul Awal</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    Email: awal@cse.kuet.ac.bd
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Milon sir.jpg" /></p>
                <h5 style="text-align: center;">Md. Milon Islam</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    milonislam@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext.8361
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/shuvo sir.jpg" /></p>
                <h5 style="text-align: center;">Mohammad Insanur Rahman Shuvo</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    insan_shuvo@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8357
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/paul sir.jpg" /></p>
                <h5 style="text-align: center;">Animesh Kumar Paul</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    animesh.paul@cse.kuet.ac.bd
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>

        </div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Akib sir.jpg" /></p>
                <h5 style="text-align: center;">Shaikh Akib Shahriyar</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    akib.shahriyar@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8371
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/aziz sir.jpg" /></p>
                <h5 style="text-align: center;">Abdul Aziz</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    abdulaziz@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext: 8373
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/prottoy sir.jpg" /></p>
                <h5 style="text-align: center;">Prottoy Saha</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    prottoy@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8365
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/fattah sir.jpg" /></p>
                <h5 style="text-align: center;">H. M. Abdul Fattah</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    hussainfattah@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext.8353
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/mesba sir.jpg" /></p>
                <h5 style="text-align: center;">Md. Masum Al Mesba</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    masba@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8363
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/Sunanda sir.jpg" /></p>
                <h5 style="text-align: center;">Sunanda Das</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    sunanda@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8375
                </p>
            </div>
        </div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/nazia madam.jpg" /></p>
                <h5 style="text-align: center;">Nazia Jahan Khan Chowdhury</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    sunanda@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8375
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/dola madam.jpg" /></p>
                <h5 style="text-align: center;">Dola Das</h5>
                <h6 style="text-align: center;">Assistant Professor</h6>
                <p align="center">
                    sunanda@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8375
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/shamimur sir.jpg" /></p>
                <h5 style="text-align: center;">Md. Shamimur Rahman</h5>
                <h6 style="text-align: center;">Lecturer</h6>
                <p align="center">
                    md.rahman@cse.kuet.ac.bd
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/saeed sir.jpg" /></p>
                <h5 style="text-align: center;">Kazi Saeed Alam</h5>
                <h6 style="text-align: center;">Lecturer</h6>
                <p align="center">
                    saeed.alam@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8379
                    <br> <h5 style="text-align: center; color: red">(On Leave)</h5>
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/raju sir.jpg" /></p>
                <h5 style="text-align: center;">S.M. Taslim Uddin Raju</h5>
                <h6 style="text-align: center;">Lecturer</h6>
                <p align="center">
                    raju.taslim@cse.kuet.ac.bd
                    <br>Contact: +88-02477733351~69, <br> Ext-8359
                </p>
            </div>
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/manik sir.jpeg" /></p>
                <h5 style="text-align: center;">Md. Motaleb Hossen Manik</h5>
                <h6 style="text-align: center;">Lecturer</h6>
                <p align="center">
                    mh.manik@cse.kuet.ac.bd
                    <br> Ext-8361
                </p>
            </div>
        </div>
        <div class="horizontal_table">
            <div class="elements">
                <p align="center"><img draggable="false" src="Images/nayan sir.png" /></p>
                <h5 style="text-align: center;">Md. Ahsan Habib</h5>
                <h6 style="text-align: center;">Lecturer</h6>
                <p align="center">
                    mahabib@cse.kuet.ac.bd
                    <br> Ext-8371
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
