@page "/Publication"

<div class="Notice_Panel" style="flex-direction:column;overflow: auto">
    <div style="width: 100%; height: 10%; background-color: #44a16d;"><p style="font-size: 36px; font-weight: bold; margin: auto;">Publications</p></div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">1.R. Hata, M. A. H. Akhand, Md. Monirul Islam and K. Murase, “Simplified Real-, Complex-, and Quaternion- Valued Neuro-Fuzzy Learning Algorithms,” I. J. Intelligent Systems and Applications (IJISA), vol. 10, no. 5, pp. 1-13, 2018. DOI: 10.5815/ijisa.2018.05.01 Journal Indexing & Rating: Scopus, IET Inspec, IndexCopernicus.</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">2. M. A. H. Akhand, Mahtab Ahmed, M. M. Hafizur Rahman and Md. Monirul Islam “Convolutional Neural Network Training incorporating Rotation-Based Generated Patterns and Handwritten Numeral Recognition of Major Indian Scripts, ” IETE Journal of Research, Taylor & Francis, vol. 62, no. 2, pp.176-194, 2018. DOI: 10.1080/03772063.2017.1351322 Journal Indexing & Rating: Web of Science (Thomson Reuters, IF: 0.909), Scopus (SJR: 0.17, H Index: 16, Q3), Ei Compendex.</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">3. Sudipta Singha Roy, Mahtab Ahmed and M. A. H. Akhand, “Noisy Image Classification Using Hybrid Deep Learning Methods,” Journal of Information and Communication Technology (JICT), vol. 17, no. 2, pp. 233-269, 2018. Journal Indexing & Rating: Web of Science (Thomson Reuters), Scopus (SJR: 0.21, H Index: 4, Q3).</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">4. Kazi Md. Rokibul Alam, Adnan Maruf, Md. Rezaur Rahman Rakib, G. G. Md. Nawaz Ali, Peter Han Joo Chong, and Yasuhiko Morimoto, "An Untraceable Voting Scheme Based on Pairs of Signatures", International Journal of Network Security, Jalaxy Technology Co., LTD, vol. 20, issue 4, pp. 774-787, 2018. Comments: indexed in EI Compendex, dblp etc.</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">5. Abu Zafar Md. Nuruzzaman Abir, Kazi Md. Rokibul Alam, Nahid Hasan Kakon and Yasuhiko Morimoto, "An Overview of Apache Spark for Structured Big Data and Simulation of Enhancing Security Using Asymmetric Cryptosystems", 2018 International Conference on Computer, Communication, Chemical, Materials and Electronic Engineering (IC4ME2-2018), Bangladesh, February 8-9, 2018</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">6. G. G. M. Nawaz Ali*, Md. Noor-A-Rahim, Md. Ashiqur Rahman, Syeda Khairunnesa Samantha, Peter Han Joo Chong, and Yong Liang Guan, “Coding-assisted Heterogeneous Data Access in Vehicular Networks”, IEEE Internet of Things Journal, 2018, Available online, DOI: 10.1109/JIOT.2018.2830315, (SCI, 5-year Impact factor: 7.596)</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">7. 7. Md. Noor-A-Rahim, G. G. Md. Nawaz Ali, Nguyen Hieu, and Guan Yong Liang, “Performance Analysis of IEEE 802.11p Safety Message Broadcast with and without Relaying at Road Intersection," IEEE Access, 2018, Available online, DOI: 10.1109/ACCESS.2018.2829897 (SCI Impact factor: 3.244)</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">8. 8. G. G. Md. Nawaz Ali, Md. Noor-A-Rahim, Peter Han Joo Chong, and Yong Liang Guan, “Analysis and improvement of reliability through coding for safety message broadcasting in urban vehicular networks”, IEEE Transactions on vehicular Technology, Available online: DOI: 10.1109/TVT.2018.2820458</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">9. 9. G. G. M. Nawaz Ali, Md. Noor-A-Rahim, Md. Ashiqur Rahman, Syeda Khairunnesa Samantha, Peter Han Joo Chong, and Yong Liang Guan, “An Efficient Cross-layer Coding-assisted Heterogeneous Data Access in Vehicular Networks”, Accepted in the IEEE International Conference on Communications (IEEE ICC 2018), May 20-24, 2018, Kansas City, MO, USA.</p>
    </div>
    <div style="background-color: #c6c6c69e; margin: 2px; border: 1px solid black">
        <p style="font-size: 16px; font-weight: bold">10. Md. Rezwanul Haque, Md. Milon Islam, Hasib Iqbal, Md. Sumon Reza, Md. Kamrul Hasan, "Performance Evaluation of Random Forests and Artificial Neural Networks for the Classification of Liver Disorder", International Conference on Computer, Communication, Chemical, Materials and Electronic Engineering, IEEE, Rajshahi, Bangladesh, 8-9 Feb.,2018.</p>
    </div>
</div>

@code {

}
