@page "/Researchfield"

<div class="research">
    <div>
        <img src="/Images/re.png" style="width: 100%;" />
        <img src="/Images/NLP.png" style="width: 100%;" />
        <img src="/Images/ML.png" style="width: 100%;" />
        <img src="/Images/data.png" style="width: 100%;" />
        <img src="/Images/cs.png" style="width: 100%;" />
        <img src="/Images/imagepro.png" style="width: 100%;" />
    </div>
</div>

@code {

}
