@inherits LayoutComponentBase

<PageTitle>KCB</PageTitle>

<div class="page">
    <img id="bimage" src="/Images/images.png"/>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
