@inherits LayoutComponentBase

<PageTitle>KCB</PageTitle>

<div class="page">
    <div  id="bimage" >
        <video src="/Videos/network.mp4" autoplay loop/>
    </div>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
    <footer style="height: 100px; margin: auto; width: 95%; box-shadow: 0px 0px 5px 1px black; background-color: #44a16d;">
        <p align="center" style="font-size: larger;">Department of Computer Science and Engineering (CSE), Khulna University of Engineering &Technology (KUET)
            <br>Khulna-9203,Bangladesh, Phone: +8802477733318, +8802477733351-Ext-350 Fax: +8802477733351
        </p>
        <p align="center">© 2022 All rights reserved</p>
    </footer>
    
</div>
