@inject NavigationManager UriHelper
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage BrowserStorage


<div id="head">
    <div id="dept_name">
        <img src="/Images/Header.png" />
    </div>
    <div id="navigation">
        <button class="nav_but" @onclick="Home_page">Home</button>
        <button class="nav_but">Facilities</button>
        <button class="nav_but">Research</button>
        <button class="nav_but" @onclick="Result_page">Result</button>
        <button class="nav_but">Notice</button>
        <button class="nav_but">Academic</button>
        <div class="dropdown">
            <button class="nav_but">People</button>
            <div class="dropdown-content">
                <a href="faculty_members">Faculty Members</a>
                <a href="#">Officers & Staffs</a>
            </div>
        </div>
        <button class="nav_but" @onclick="PayFee_page">PayFee</button>
        <button class="nav_but" onclick="location.href='http://www.kuet.ac.bd/'">KUET</button>
        <button class="nav_but">About</button>
        <div class="dropdown">
            <button class="nav_but" @onclick="Login_page">@Username</button>
            @if (loginrender)
            {
                <div class="dropdown-content">
                    <a href="#" style="width: 169px;">Profile</a>
                    <a @onclick="Logout" style="width: 169px;">Logout</a>
                </div>
            }
        </div>
    </div>
</div>
@code {
    public static bool loginrender = false;
    private bool collapseNavMenu = true;
    public static string Username = "Login";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Login_page()
    {
        UriHelper.NavigateTo("Login");
    }

    private void Result_page()
    {
        if (loginrender)
        {
            UriHelper.NavigateTo("Result");
        }
        else
        {
            UriHelper.NavigateTo("NeedLogin");
        }
    }

    private void PayFee_page()
    {
        if (loginrender)
        {
            UriHelper.NavigateTo("PayFee");
        }
        else
        {
            UriHelper.NavigateTo("NeedLogin");
        }

    }

    private async void Home_page()
    {
        UriHelper.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && loginrender)
        {
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    private async Task LoadStateAsync()
    {
        var result = await BrowserStorage.GetAsync<string>("name");
        Username = result.Value.ToString();

    }

    private async Task Logout()
    {
        await BrowserStorage.SetAsync("name", "");
        Username = "Login";
        loginrender = false;
        _navigationManager.NavigateTo("/", true);

    }

}
