@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KCB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>*@

    <div id="head">
        <div id="dept_name">
            <img src="/Images/Header.png"/>
        </div>
    <div id="navigation">
        <button class="nav_but">Home</button>
        <button class="nav_but">Facilities</button>
        <button class="nav_but">Research</button>
        <button class="nav_but">Result</button>
        <button class="nav_but">Notice</button>
        <button class="nav_but">Academic</button>
        <button class="nav_but">Registation</button>
        <button class="nav_but">PayFee</button>
        <button class="nav_but" asp-action="check">Login</button>
        <button class="nav_but">KUET</button>
        <button class="nav_but">About</button>
    </div>
    </div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
