@inject NavigationManager UriHelper
@inject NavigationManager UrlHelper
@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KCB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>*@

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>*@

    <div id="head">
        <div id="dept_name">
            <img src="/Images/Header.png"/>
        </div>
    <div id="navigation">
        <button class="nav_but" @onclick="Home_page">Home</button>
        <button class="nav_but">Facilities</button>
        <button class="nav_but">Research</button>
        <button class="nav_but">Result</button>
        <button class="nav_but">Notice</button>
        <button class="nav_but">Academic</button>
        <div class="dropdown">
           <button class="nav_but">People</button>
           <div class="dropdown-content">
           <a href="faculty_members">Faculty Members</a>
           <a href="#">Officers & Staffs</a>
           </div>
        </div>
        <button class="nav_but">PayFee</button>
        <button class="nav_but" onclick="location.href='http://www.kuet.ac.bd/'">KUET</button>
        <button class="nav_but">About</button>
        <button class="nav_but" @onclick="Login_page">Login</button>
    </div>
    </div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Login_page()
    {
        UriHelper.NavigateTo("Login");
    }

    private void Home_page()
    {
        UriHelper.NavigateTo("/");
    }

}
