@inject NavigationManager UriHelper
@inject NavigationManager UrlHelper
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage BrowserStorage


<div id="head">
    <div id="dept_name">
        <img src="/Images/Header.png" />
    </div>
    <div id="navigation">
        <button class="nav_but" @onclick="Home_page">Home</button>
        <button class="nav_but">Facilities</button>
        <button class="nav_but">Research</button>
        <button class="nav_but">Result</button>
        <button class="nav_but">Notice</button>
        <button class="nav_but">Academic</button>
        <div class="dropdown">
            <button class="nav_but">People</button>
            <div class="dropdown-content">
                <a href="faculty_members">Faculty Members</a>
                <a href="#">Officers & Staffs</a>
            </div>
        </div>
        <button class="nav_but" @onclick="PayFee_page">PayFee</button>
        <button class="nav_but" onclick="location.href='http://www.kuet.ac.bd/'">KUET</button>
        <button class="nav_but">About</button>
        <button class="nav_but" @onclick="Login_page">@Username</button>
    </div>
</div>
@code {
    public static bool loginrender = false;
    private bool collapseNavMenu = true;
    string Username = "Login";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Login_page()
    {
        UriHelper.NavigateTo("Login");
    }

    private void PayFee_page()
    {
        if (loginrender)
        {
            UriHelper.NavigateTo("PayFee");
        }
        else
        {
            UriHelper.NavigateTo("NeedLogin");
        }

    }

    private async void Home_page()
    {
        UriHelper.NavigateTo("/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && loginrender)
        {
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    private async Task LoadStateAsync()
    {
        var result = await BrowserStorage.GetAsync<string>("name");
        Username = result.Value.ToString();

    }

}
